-WHAT IS PANDAS

Pandas is a software library written for the Python programming language for data manipulation and analysis. 
In particular, it offers data structures and operations for manipulating numerical tables and time series. 
It is free software released under the three-clause BSD license.

The name is derived from the term "panel data", an econometrics term for data sets that include observations over multiple time periods for the same individuals.

In [17]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\namratha r\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (3.0.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\namratha r\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\namratha r\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\users\namratha r\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\namratha r\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: C:\Users\Namratha R\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [18]:
pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\namratha r\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.4.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: C:\Users\Namratha R\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd
import numpy as np

-----Use the read_csv function to read in the student_marks_demo dataset

 read_csv is an important pandas function to read csv files and do operations on it.

In [19]:
# 1. Load the CSV file
df = pd.read_csv("student_marks_demo.csv")

#### Now , that we have read the CSV file into a Pandas Dataframe - 
       a) We check the data for first 5 observations using head() 
       b) we can also check the data for last 5 observations using tail()
# Show the content of first 5 observations in a Dataframe

demo_DF.head()
# Show the content of last 5 observations in a Dataframe

demo_DF.tail()
You will observe the following in the above Dataframe content displayed -
    
    a) Observation : Each Row of Data is called an Observation 
    b) INDEX : Provides a label to the Rows of a Dataframe 
    c) Columns : Each column also called Attribute / Feature contains a homogenous set of data 
    d) Column Name : Each column is being uniquely identified through a Column Name


Pandas uses NaN (not a number) to represent missing values.  df.head()

Shows first 5 rows of data.

df.tail()

Shows last 5 rows.

In [5]:
# 2. Display first 5 and last 5 records
print("First 5 Records:")
print(df.head())

print("\nLast 5 Records:")
print(df.tail())

First 5 Records:
   Student_ID   Name  Subject  Marks
0         101  Aarav     Math     78
1         102   Diya  Science     85
2         103  Rohan     Math     62
3         104  Sneha  English     90
4         105  Karan  Science     55

Last 5 Records:
    Student_ID    Name  Subject  Marks
10         111   Arjun  Science     91
11         112   Kavya     Math     76
12         113  Manish  English     40
13         114    Isha  Science     59
14         115  Suresh     Math     82


3.This checks whether any column contains empty values.
It counts how many missing values are present in each column.

In [6]:
# 3. Check for missing values and handle them
print("\nMissing Values in Each Column:")
print(df.isnull().sum())

# Fill missing values with 0
df.fillna(0, inplace=True)

Missing Values in Each Column:
Student_ID    0
Name          0
Subject       0
Marks         0
dtype: int64

    Student_ID    Name  Subject  Marks
0          101   Aarav     Math     78
1          102    Diya  Science     85
2          103   Rohan     Math     62
3          104   Sneha  English     90
4          105   Karan  Science     55
5          106   Pooja     Math     48
6          107   Rahul  English     72
7          108  Ananya  Science     88
8          109  Vikram     Math     35
9          110    Neha  English     67
10         111   Arjun  Science     91
11         112   Kavya     Math     76
12         113  Manish  English     40
13         114    Isha  Science     59
14         115  Suresh     Math     82

4. df[["Math", "Science", "English"]].mean(axis=1)

Selects subject columns.

axis=1 means row-wise calculation.

Finds average for each student.

df["Average"] =

Creates new column called "Average

In [8]:
# 4. Calculate average marks of each student
df["Average"] = df.groupby('Student_ID')['Marks'].transform('mean')
print("\nData with Average Marks:")
print(df)

Data with Average Marks:
    Student_ID    Name  Subject  Marks  Average
0          101   Aarav     Math     78     78.0
1          102    Diya  Science     85     85.0
2          103   Rohan     Math     62     62.0
3          104   Sneha  English     90     90.0
4          105   Karan  Science     55     55.0
5          106   Pooja     Math     48     48.0
6          107   Rahul  English     72     72.0
7          108  Ananya  Science     88     88.0
8          109  Vikram     Math     35     35.0
9          110    Neha  English     67     67.0
10         111   Arjun  Science     91     91.0
11         112   Kavya     Math     76     76.0
12         113  Manish  English     40     40.0
13         114    Isha  Science     59     59.0
14         115  Suresh     Math     82     82.0

5. df["Average"].idxmax()

Finds index of highest average value.

df.loc[]

Retrieves complete row of that student.

In [11]:
# 5. Find the student with highest average marks
top_student = df.loc[df["Average"].idxmax()]
print("\nStudent with Highest Average Marks:")
print(top_student)

Student with Highest Average Marks:
Student_ID        111
Name            Arjun
Subject       Science
Marks              91
Average          91.0
Name: 10, dtype: object

6. df[df["Math"] > 75]

Filters students.

Condition: Math marks greater than 75.

In [13]:
# 6. Filter students who scored more than 75 in Math
math_above_75 = df[(df["Subject"] == "Math") & (df["Marks"] > 75)]
print("\nStudents who scored more than 75 in Math:")
print(math_above_75)

Students who scored more than 75 in Math:
    Student_ID    Name Subject  Marks  Average
0          101   Aarav    Math     78     78.0
11         112   Kavya    Math     76     76.0
14         115  Suresh    Math     82     82.0

8. np.where(condition, "Pass", "Fail")

If average ≥ 40 → Pass

Else → Fail

Creates new column "Result".

In [16]:
# 7. Add a new column 'Result' (Pass/Fail)
df["Result"] = np.where(df["Average"] >= 40, "Pass", "Fail")

print("\nFinal Data with Result Column:")
print(df)

Final Data with Result Column:
    Student_ID    Name  Subject  Marks  Average Result
0          101   Aarav     Math     78     78.0   Pass
1          102    Diya  Science     85     85.0   Pass
2          103   Rohan     Math     62     62.0   Pass
3          104   Sneha  English     90     90.0   Pass
4          105   Karan  Science     55     55.0   Pass
5          106   Pooja     Math     48     48.0   Pass
6          107   Rahul  English     72     72.0   Pass
7          108  Ananya  Science     88     88.0   Pass
8          109  Vikram     Math     35     35.0   Fail
9          110    Neha  English     67     67.0   Pass
10         111   Arjun  Science     91     91.0   Pass
11         112   Kavya     Math     76     76.0   Pass
12         113  Manish  English     40     40.0   Pass
13         114    Isha  Science     59     59.0   Pass
14         115  Suresh     Math     82     82.0   Pass